<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="jieun.pms.product.dao.mapper.ProductMapper">
	<resultMap id="productMap" type="product">
		<id		property="itemNo"	column="item_no"/>
		<result	property="itemId"	column="item_id"/>
		<result	property="category"	column="category"/>
		<result	property="itemName"	column="item_name"/>
		<result	property="itemAmount"	column="item_amount"/>
		<result	property="itemPrice"	column="item_price"/>
		<result	property="itemSize"		column="item_size"/>
		<result	property="itemImg"		column="item_img"/>
		<result	property="itemImgDetail"	column="item_img_detail"/>
		<result	property="itemUpdate"	column="item_update"/>
	</resultMap>
	
	<select id="getAllProducts" resultType="product" resultMap="productMap">
		select distinct category
		from items
		order by category
	</select>
	
	<select id="getProducts" parameterType="string" resultType="product" resultMap="productMap">
		select *
		from items
		where category = #{category}
		order by item_no
	</select>
	
	<select id="getProduct" parameterType="string" resultType="product" resultMap="productMap">
		select * 
		from items
		where item_name = #{itemName}
		order by item_no
	</select>
	
	<select id="getProductId" parameterType="string" resultType="product" resultMap="productMap">
		select * 
		from items
		where item_id = #{itemId}
	</select>
	
	<select id="getProductNo" parameterType="int" resultType="product" resultMap="productMap">
		select * 
		from items
		where item_no = #{itemNo}
	</select>
	
	<update id="updateProduct" parameterType="product" >
		update items
		<set>
			<if test="itemName != null">item_name =#{itemName},</if>
			<if test="itemImg != null">item_img =#{itemImg},</if>
			<if test="itemImgDetail != null">item_img_detail =#{itemImgDetail},</if>
			<if test="category != null ">category =#{category},</if>
			<if test="itemAmount != null">item_amount =#{itemAmount},</if>
			<if test="itemPrice != null">item_price =#{itemPrice},</if>
		</set>
		where item_no = #{itemNo}
	</update>
	
	<delete id="deleteProduct" parameterType="int">
		delete items
		where item_no = #{itemNo}
	</delete>
	
	<insert id="insertProduct" parameterType="product">
		insert into items
		values(seq_items_no.nextval, #{itemId,jdbcType=VARCHAR},#{category,jdbcType=VARCHAR},#{itemName,jdbcType=VARCHAR},#{itemAmount,jdbcType=INTEGER},#{itemPrice,jdbcType=INTEGER},#{itemSize,jdbcType=VARCHAR},#{itemImg,jdbcType=VARCHAR},#{itemImgDetail,jdbcType=VARCHAR},sysdate)
	</insert>
	
</mapper>