<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="jieun.pms.member.login.dao.mapper.LoginMapper">
	<resultMap id="userMap" type="jieun.pms.member.login.domain.Member">
		<id		property="memId"	column="mem_id"/>
		<result	property="memPw"	column="mem_pw"/>
		<result	property="memLevel"	column="mem_level"/>
		<result property="memEmail" column="mem_email"/>
		<result property="memPhone" column="mem_phone"/>
		<result property="memName" column="mem_Name"/>
	</resultMap>
	
	<select id="getMember" parameterType="string" resultType="jieun.pms.member.login.domain.Member" resultMap="userMap">
		select mem_id memId, mem_pw memPw, mem_level memLevel
		from members where mem_id=#{memId}
	</select>
	
	<select id="findIdEmail" parameterType="member" resultType="string" resultMap="userMap">
		select mem_id
		from members where mem_name=#{memName, jdbcType=VARCHAR} and mem_email=#{memEmail, jdbcType=VARCHAR}
	</select>
	
	<select id="findIdPhone" parameterType="member" resultType="string" resultMap="userMap">
		select mem_id
		from members where mem_name=#{memName, jdbcType=VARCHAR} and mem_phone=#{memPhone, jdbcType=INTEGER}
	</select>
	
	<select id="findPwEmail" parameterType="string" resultType="string" resultMap="userMap">
		select mem_pw
		from members where mem_name=#{memName, jdbcType=VARCHAR} and mem_id=#{memId, jdbcType=VARCHAR} and mem_email=#{memEmail, jdbcType=VARCHAR}
	</select>
	
	<select id="findPwPhone" parameterType="string" resultType="string" resultMap="userMap">
		select mem_pw
		from members where mem_name=#{memName, jdbcType=VARCHAR} and mem_id=#{memId, jdbcType=VARCHAR} and mem_phone=#{memPhone, jdbcType=INTEGER}
	</select>
	
</mapper>