<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="jieun.pms.member.login.dao.mapper.LoginMapper">
	<resultMap id="userMap" type="jieun.pms.member.login.domain.Member">
		<id		property="memId"	column="mem_id"/>
		<result	property="memPw"	column="mem_pw"/>
	</resultMap>
	
	<select id="getMember" parameterType="string" resultType="jieun.pms.member.login.domain.Member" resultMap="userMap">
		select mem_id memId, mem_pw memPw
		from members where mem_id=#{memId}
	</select>
</mapper>