<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="jieun.pms.order.dao.mapper.OrderMapper">
	<resultMap id="orderMap" type="order">
		<id		property="orderNo"	column="order_no"/>
		<result	property="memId"	column="mem_id"/>
		<result	property="itemNo"	column="item_no"/>
		<result	property="orderDate"	column="order_date"/>
		<result	property="orderName"	column="order_name"/>
		<result	property="orderPhone"	column="order_phone"/>
		<result	property="orderAmount"	column="order_amount"/>
		<result	property="payment"		column="payment"/>
		<result	property="paymentOption" column="payment_option"/>
		<result	property="orderZipcode"	column="order_zipcode"/>
		<result	property="orderStreet"	column="order_street"/>
		<result	property="orderAddr"	column="order_addr"/>
		<result	property="transport"	column="transport"/>
		<result	property="status"	column="status"/>
	</resultMap>
	
	<select id="getOrders" resultType="order" resultMap="orderMap">
		select *
		from orders
	</select>
	
</mapper>