body {
	margin-top: 350px;
	height: 100%;
}

/* 메뉴기본틀 */
ul li { list-style-type: none; }

a { color: inherit; text-decoration: none; }

.mypage {
	width: 900px;
	margin: 0 auto;
}

.mypageTitle {
	margin-left: 180px;
	margin-right: 650px;
	text-align: left;
}

.mypageMenu {
	float: left;
	width: 150px;
	height: 100%;
	text-align: left;
}

.mypageContents {
	height: 100%;
	padding: 20px;
	overflow: hidden;
	border-left: 1px solid #000;
	text-align: left;
}


/* contents 부분시작 */


/* community,q&a,review,admin */

.community_table {
	position: relative;
	width:100%;
	height:100px; 
	border-collapse: collapse;
}

.comu_button{
	margin-left:320px;
	margin-top: 10px;
}

.comu_search{
	margin-left: 500px;
	margin-top: 10px;
}

.comu_write{
	margin-left: 646px;
	margin-top: 10px;
}

.paging{
	margin-left:260px;
	margin-top: 20px;
}

.reviewreg_write{
	margin-left: 450px;
	margin-top: 300px;
}

.reviewreg_text{
	margin-left: 50px;
	margin-top: 100px;
}

/* board */
.board_table{
	width:650px;
	height:450px;
	border-collapse: collapse;
	position: relative;
}

.board_table2{
	width:600px;
	height:450px; 
	border-collapse: collapse;
	position: relative;
	margin-top : 20px;
	margin-bottom : 20px;
}

.board_head{
	margin-left : 20px;
	margin-top : 10px;
}

.review_button{
	margin-top:10px;
	margin-left:15px;
	width : 615px;
}

.managerborder_button{
	margin-top:10px;
	margin-left:510px;
}

.qnaborder_button{
	margin-top:10px;
	margin-left:550px;
}

.communityborder_button{
	margin-top:10px;
	margin-left:550px;
}