body {margin-top: 270px;}
.no-border {border:0px;}

table {
		width:350px;
		border-collapse: collapse;
		align: center;
		padding: 5px;
	}
	
.findId{
	width: 350px;
    height: 35px;
}

.findPwAsk{
	margin-left: 740px;
	padding: 20px;
}
.findPw{
	margin-left: 820px;
}

.findIdAsk{
	margin-left: 760px;
	padding: 20px;
}
.findIdButt{
	margin-left: 815px;
	width: 150px;
}