body { color: rgb(0, 0, 0); min-width: 960px; margin-top: 270px; width: 100%;
		background-image: url(../img/background.jpg);
        background-position: 0 150px;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        overflow-y: auto;
}
img { vertical-align: middle; horizontal-align: center;}
/* 슬라이드 부분 */
.slideshow { background-color: rgb(255, 255, 255); height: 330px; overflow: hidden; position: relative; }

.slideshow .slideshow-slides { height: 100%; position: absolute; width: 100%; }
.slideshow .slideshow-slides .slide { height: 100%; overflow: hidden; position: absolute; width: 100%; }
.slideshow .slideshow-slides .slide img { left: 60%; margin-left: -800px; position: absolute; }

.slideshow .slideshow-nav a, .slideshow .slideshow-indicator a { overflow: hidden; }
.slideshow .slideshow-nav a:before,
.slideshow .slideshow-indicator a:before { content: url(../img/banner/sprites.png); display: inline-block; }
.slideshow .slideshow-nav a { position: absolute; top: 50%; left: 50%; width: 72px; height: 72px; margin-top: -36px; }
.slideshow .slideshow-nav a.prev { margin-left: -540px; }
.slideshow .slideshow-nav a.prev:before { margin-top: -20px; }
.slideshow .slideshow-nav a.next { margin-left: 500px; }
.slideshow .slideshow-nav a.next:before { margin-left: -80px; margin-top: -20px; }
.slideshow .slideshow-nav a.disabled { display: none; }

.slideshow .slideshow-indicator { bottom: 30px; height: 16px; left: 0; position: absolute; right: 0; text-align: center; }
.slideshow .slideshow-indicator a { display: inline-block; width: 16px; height: 16px; margin-left: 3px; margin-right: 3px; }
.slideshow .slideshow-indicator a:before { margin-left: -110px; }
.slideshow .slideshow-indicator a.current { cursor: default; }
.slideshow .slideshow-indicator a.current:before { margin-left: -130px; }
/* 슬라이드 부분 끝 */

/*item*/
.item {
    background-color: rgb(255, 255, 255);
    position: relative;
    width: 100%;
    height: 450px;
}

.item2 {
    background-color: rgb(255, 255, 255);
    position: relative;
    width: 100%;
    height: 450px;
    margin-top: 300px;
}



/*item 끝*/
