body {
	margin-top: 350px;
	height: 100%;
}

p {
	font-size: 12px;
	color: #737373;
}

b {
	color: red;
}


/* 전체div */
.payment {
	width: 800px;
	margin: 0 auto;
}

/* 상품테이블 */
.itemTable {
	border-top: 1px solid #aaaaaa;
	border-bottom: 1px solid #aaaaaa;
	width: 800px;
	margin-top: 30px;
	margin-bottom: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
}

.button {
	margin-top: 10px;
	margin-bottom: 50px;
}

#deleteButton{
	float: left;
	width: 680px;
	text-align: left;
}

#cartButton{
	text-align: left;
}

/* 주문자테이블 */
#memInforTitle {
	float: left;
	width: 690px;
	text-align: left;
	font-size: large;
	font-weight: bold;
}

#required {
	text-align: left;
}

.memInforTable {
	border: 1px solid #aaaaaa;
	width: 800px;
	margin-top: 10px;
	margin-bottom: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 5px;
	padding-right: 5px;
}

/* 배송지테이블 */
.deliveryTitle {
	font-size: large;
	font-weight: bold;
}

.deliveryInfoTable {
	border: 1px solid #aaaaaa;
	width: 800px;
	margin-top: 10px;
	margin-bottom: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 5px;
	padding-right: 5px;
}

/* 결제테이블 */
.paymentTable1 {
	border: 1px solid #aaaaaa;
	width: 800px;
	margin-bottom: 20px;
	padding-top: 10px;
	text-align: center;
}

.paymentTable2 {
	border: 1px solid #aaaaaa;
	width: 800px;
	margin-bottom: 100px;
	padding: 10px;
}

.paymentTable2 h3 {
	color: #3B36CF;
}

/* 기타(디자인) */
#amount {
	width: 40px;
}


.center{
	text-align: center;
}

.right {
	text-align: right;
	width: 100px;
}

#paybutton {
	width: 280px;
	height: 30px;
}

