body {
	margin-top: 350px;
}

/* 메뉴기본틀 */
ul li { list-style-type: none; }

a { color: inherit; text-decoration: none; }

.mypage {
	width: 900px;
	margin: 0 auto;
}

.mypageTitle {
	margin-left: 180px;
	margin-right: 640px; /* 타이틀에 맞춰줄것 (길면줄이고 짧으면늘리기) */
	text-align: left;
}

.mypageMenu {
	float: left;
	width: 150px;
	height: 100%;
	text-align: left;
}

.pwdCheck {
	margin-left: 500px;
	margin-bottom: 330px;
	border-left: 1px solid #737373;
}

.pwdCheck p{
	padding: 10px;
}