body{
	margin-top: 350px; 
}

.productDetail {
	width: 1300px;
	margin: 0 auto;
}

.titleImg {
	float: left;
	width: 800px;
	height: 600px;
	text-align: center;
}

.titleImg img {
	margin-top: 80px;
}

.itemInfo {
	height: 700px;
	overflow: hidden;
	text-align: left;
}

.itemInfo .itemInfoTable {
	width: 400px;
	height: 280px;
}

.itemInfo .itemInfoTable2 {
	width: 400px;
	height: px;
	margin-bottom: 10px;
}

/* title È¿°ú */
.center {
	text-align: center;
}

.right{
	text-align: right;
}

.itemInfoTable b, .itemInfoTable2 b {
	color: #8C8C8C;
	font-size: 20px;
}

#select {
	width: 100px;	
}

#orderButton {
	width: 400px;
	height: 50px;
	margin-bottom: 10px
}

#wishlistButton, #cartButton {
	width: 200px;
	height: 50px;
}

#amount {
	width: 40px;
}

/* itemDetail Part */
.itemDetail {
	text-align: center;
	padding-top: 100px;
	padding-bottom: 20px;
}



/* review */
.review {
	padding-top: 20px;
	padding-bottom: 20px;
}

.community_table {
	position: relative;
	width:50%;
	height:100px; 
	border-collapse: collapse;
	margin-left : 405px;
	margin-top : 10px;
}

.comu_button{
	margin-left:405px;
	margin-top: 10px;
}

.comu_search{
	margin-left: 997px;
	margin-top: 10px;
}

.comu_write{
	margin-left: 1134px;
	margin-top: 10px;
}

.comu_delete{		
}

