<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="jieun.pms.mypage.cart.dao.mapper.CartMapper">
	<resultMap id="cartMap" type="cart">
		<id		property="cartNo"	column="cart_no"/>
		<result	property="memId"	column="mem_id"/>
		<result	property="itemNo"	column="item_no"/>
		<result	property="amount"	column="amount"/>
		<association property="product" resultMap="itemMap"/>
	</resultMap>
	
	<resultMap id="itemMap" type="product">
		<result	property="itemName"	column="item_name"/>
		<result	property="itemPrice"	column="item_price"/>
		<result	property="itemSize"		column="item_size"/>
	</resultMap>
	
	<select id="getCarts" parameterType="string" resultMap="cartMap">
		select cart_no, items.item_no, item_name, item_size, amount, item_price
		from carts
		join items 
		on (carts.ITEM_NO = items.ITEM_NO)
		where carts.mem_id = #{memId}
		order by cart_no
	</select>
	
	<insert id="insertCart" parameterType="Cart">
		insert into carts
		values(seq_cart_no.nextval, #{memId,jdbcType=VARCHAR},#{itemNo,jdbcType=INTEGER},#{amount,jdbcType=INTEGER})
	</insert>
	
	<delete id="deleteCart" parameterType="int">
		delete from carts 
		where cart_no = #{cartNo}
	</delete>
</mapper>